@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.full-screen {
  width: 100%;
  height: calc(100vh - 132px);
  overflow: hidden;
}

.overflow-screen {
  width: 100%;
  height: calc(100vh);
}

/* 네비 호버시 컬러 변경.*/
.nav-link:hover {
  color: #3ed1fe !important;
}

.b {
  border: 1px solid red;
}


@media (max-width: 640px) {


  .full-screen {
    width: 100%;
    height: calc(100vh - 120px);
  }

  .worship-time {
    max-width: 250px;
  }

}